{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Welcome to Student Registration</h1>
    <p>Quick and easy registration for students</p>
</header>

<nav>
    <a href="/">Home</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'aboutus' %}"">Contact</a>
</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2025 Student Registration. All Rights Reserved.</p>
</footer>

</body>
</html>

